* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
}

.container {
    background-color:white;
    border-radius: 10px;
    box-shadow: 8px 8px 5px #aaaaaa;
    padding: 30px;
    width: 60vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    gap: 20px;

}

.hero {
    font-size: 45px;
}


.hero, .creator, .slidetext, .button-text {
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
} 

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid {
    background-color: blue;
    height: 100%;
    aspect-ratio: 1 / 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
}

.gridsquare {
    border: 1px solid black;
    text-align: center;
    background-color: lightblue;
    height: 100%;
    flex: 1 1 auto;
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button {
  /*background-color: lightgray;*/
  border: none;
  color: white;
  height: 70px;
  width: 70px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 5px;
  box-shadow: 3px 3px 2px #aaaaaa;
  border-radius: 50%;

}

.button-text {
    text-align: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    width: 100%;
}

#blackBtn {
    background-color: rgb(56, 55, 55);
}

#eraserBtn {
    background-color: lightgray;
}

#rainbowBtn {
    background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
}

/* slider test */
.slidetext {
    text-align: center;
    margin-bottom: 10px;
}

.slidecontainer {
    width: 60%; /* Width of the outside container */
  }

.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%;    
    height: 25px; /* Specified height */
    background: lightgray; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    box-shadow: 8px 8px 5px #aaaaaa inset;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
 
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 50px; 
    height: 30px;
    border-radius: 15px;
    background: rgb(255, 115, 0); 
    box-shadow: 
                inset .8em .8em 5px -8px rgba(255, 255, 255, .4),
                inset -.4em -.4em 10px -3px rgba(0,0,0,.2);
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: rgb(255, 115, 0); 
    cursor: pointer; 
  }
  